/* HomePage.css */

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
  background-color: #0f082e; /* Black background for the header */
  color: white; /* White text color for links */
  padding: 20px;
  text-align: center;
  position: relative; /* Make header position relative for absolute positioning */
}

.header h1 {
  margin: 0;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
}

.header nav ul li {
  display: inline;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

/* Logo Styles */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Adjust the spacing as needed */
}

/* Login Button Styles */
.login-button {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  right: 20px; /* Adjust the right position as needed */
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: white;
  color: black;
}

/* Background Image Styles */
.background-image {
  background-image: url('dogs.jpg'); /* Replace 'your-background-image.jpg' with your image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Content Styles */
.content {
  color: white;
  text-align: center;
}

/* Logo Text Styles */
.logo-text {
  color: white; /* Change color to white */
}
